@media(max-width:767px){
    .main .left,
    .main .right-pic{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .main .left{
        order: 2;
        text-align: center;
        margin-top: 0;
    }

    .left .text1{
        padding-left: 0;
        margin-top: 45px;
        font-size: 3.3rem;
    }

    .left .text2{
        padding-left: 0;
        font-size: 4rem;
        margin-top: 20px;
        font-size: 4rem;
    }

    .left .text3{
        font-size: 2.4rem;
        padding-left: 0;
        margin-top: 20px;
        font-size: 2rem;
    }

    .left span{
        font-size: 3.6rem;
        color: #ff9f43;
        font-family: 'Playball', cursive;
    }

    .btn{
        font-size: 1.8rem;
        line-height: .6;
        margin-top: 40px;
        margin-left: 0;
        height: 10%;
    }

    .right-pic{
        margin-top: 10px;
    }

    .right-pic .img-box{
        max-width: 350px;
    }

    .effect-1{
        right: 8%;
        bottom: 50%;
    }

    .effect-2{
        left: 6%;
        bottom: 40%;
    }

    .effect-3{
        left: 30%;
    }
}

@media(max-width:574px){
    .right-pic .img-box{
        max-width: 260px;
    }
}